<!DOCTYPE html>

<html lang="en">
        
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
        <link rel="shortcut icon" href="{% static 'images/logo.ico' %}">
    
        <title>Devil's word</title>
    </head>
   
    <body class="body_style">

            <div class="div_style">
                <img src="{% static 'images/home_logo.PNG' %}">
            </div>

    </body>

</html>